:root {
	--primary-color: #96b08d;
	--secondary-color: #ffd504;
	--font-color: #050505;
	--font-color-light: #505050;
	--bg-color: #ffffff;
	--border-radius: 0.25rem;
	--font-size: 1rem;
	--hover: #e7e3e2;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: var(--font-size);
	color: var(--font-color);
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: var(--bg-color);
}

/* Landing Page */

#landing {
	padding-top: 50px;
	background-color: var(--primary-color);
	color: var(--bg-color);
}

.landing__header {
	display: flex;
	justify-content: space-between;
	padding: 0 13%;
	align-items: center;
}

#logo {
	font-size: 2rem;
	font-weight: 500;
}

.navigation {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.navigation a {
	text-decoration: none;
	color: var(--bg-color);
	padding: 0.5rem 1rem;
	text-transform: capitalize;
	transition: 0.3s ease;
}

.navigation a:hover {
	color: var(--hover);
}

.button {
	background-color: var(--bg-color);
	color: var(--primary-color);
	border: none;
	padding: 1rem 1.5rem;
	font-size: 0.8rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.3s ease;
}

.button:hover {
	background-color: var(--hover);
}

.landing__main {
	position: relative;
}

.title {
	font-size: 5rem;
	font-weight: 600;
	width: 70%;
	margin: 150px auto 0;
}

.description {
	font-weight: 300;
	width: 40%;
	margin: 40px auto 0;
	line-height: 1.8;
	padding-bottom: 430px;
}

.landing__image {
	position: absolute;
	top: 380px;
	left: 0;
	right: 0;
	width: 1070px;
	margin: 0 auto;
}

/* Statistics */

#statistics {
	padding-top: 450px;
	width: 70%;
	margin: 0 auto;
}

.statistics__text {
	display: flex;
}

.statistics__text h3 {
	flex: 1;
	font-size: 2.7rem;
	font-weight: 600;
	line-height: 1.1;
	text-align: left;
}

.statistics__text h5 {
	flex: 1;
	color: var(--font-color-light);
	line-height: 1.8;
	text-align: left;
}

.statistics__container {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	margin-top: 20px;
}

.statistics__data {
	text-align: left;
}

.statistics__data__number {
	font-size: 4rem;
	font-weight: 600;
}

.statistics__data__number span {
	color: var(--secondary-color);
}

.statistics__data__label {
	font-weight: 600;
}

/* Walkthrough */

#walkthrough {
	margin-top: 100px;
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.walkthrough__left {
	margin-top: 215px;
	flex: 1;
	position: relative;
}

.walkthrough__box {
	background-color: var(--primary-color);
	width: 50%;
	height: 600px;
}

.walkthrough__image {
	width: 70%;
	position: absolute;
	left: 120px;
	bottom: 120px;
}

.walkthrough__right {
	flex: 1;
	margin-top: 140px;
	padding-right: 100px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.walkthrough__title {
	font-size: 3rem;
	font-weight: 600;
}

.walkthrough__description {
	font-weight: 400;
	margin-top: 40px;
	line-height: 2.3;
}

.walkthrough__button {
	background-color: var(--secondary-color);
	color: var(--font-color);
	margin-top: auto;
	width: 25%;
	margin-bottom: 119px;
}
